<%- include('partials/top', { title: 'Not Found - Rema', base: base }) %>
<div class="container-fluid text-white">
	<%- include('partials/header', { title: locals.title ?? 'Not Found' }) %>
	<div class="row text-center">
		<div class="col-12">
			<a href="<%= base %>" class="btn btn-secondary">Back to Home</a>
		</div>
	</div>
</div>
<%- include('partials/bottom') %>