<footer class='text-center'>
	<%- locals.uid ? `Credential ID: <span class="cred-id">${locals.uid}</span><br>` : '' %>
	Powered by <a target='_blank' href='https://github.com/paramsiddharth/rema'>Rema</a> &copy; <a href='https://www.paramsid.com' target='_blank'>Param Siddharth</a> 2021-<%= new Date(Date.now()).getFullYear() %> 
</footer>