* {
	user-select: none;
	margin: 0;
}

.custom-link-unstyled {
	color: inherit;
	filter: brightness(80%);
}

.custom-link-unstyled:hover, .custom-link-unstyled:focus {
	color: inherit;
	filter: brightness(90%);
}

body {
	min-height: 100vh;
	background-color: #262626;
}

#title {
	font-family: 'Times New Roman';
	cursor: pointer;
}

#links {
	font-family: Arial, Helvetica, sans-serif;
	transform: scale(0.86);
}

.bg-toast {
	background-color: #4C4C4C !important;
}

.rounded-top-left-0 {
    border-top-left-radius: 0 !important;
}

.rounded-top-right-0 {
    border-top-right-radius: 0 !important;
}

.rounded-bottom-left-0 {
    border-bottom-left-radius: 0 !important;
}

.rounded-bottom-right-0 {
    border-bottom-right-radius: 0 !important;
}

#lookup :is(.input-group-text, #credID) {
	transition: all 0.15s;
	font-family: Arial, Helvetica, sans-serif;
	border-color: rgb(134, 134, 134) !important;
	background-color: rgb(63, 63, 63);
}

#credID:focus, #credID:active {
	box-shadow: none !important;
	background-color: rgb(51, 51, 51) !important;
}

.btn-whatsapp {
	background-color: #25D366;
}

#credList {
	color: rgb(184, 184, 184);
	background-color: rgb(63, 63, 63) !important;
}

#credList thead {
	color: rgb(201, 193, 193);
	background-color: rgb(58, 55, 55);
}

#credList tbody {
	font-family: monospace;
}

.cred-entry {
	cursor: pointer;
	display: inline-block;
	color: inherit;
	text-decoration: none;
}

.cred-entry:hover, .cred-entry:focus {
	text-decoration: underline;
	color: inherit;
}

.cred-id {
	user-select: all;
	font-family: monospace;
}

footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #888;
	padding-top: 25px;
	padding-bottom: 25px;
}

footer a {
	color: inherit;
	filter: brightness(100%);
}

footer a:hover {
	color: inherit;
	filter: brightness(110%);
}